@model OnlineShop.Common.ViewModels.CreateProductoViewModel
<div class="col-md-10">
    @using (Html.BeginForm("Create", "AdminProducto", FormMethod.Post, new { @class = "form-horizontal", role = "form" , @id = "FrmCrearProducto" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label" })
            <div class="col-md-8 col-xs-10">
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control " })
                @Html.ValidationMessageFor(m => m.Nombre)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Stock, new { @class = "col-md-2 control-label" })
            <div class="col-md-8 col-xs-10">
                @Html.TextBoxFor(m => m.Stock, new { @class = "form-control " })
                @Html.ValidationMessageFor(m => m.Stock)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.IdMarca, new { @class = "col-md-2 control-label" })
            <div class="col-md-8 col-xs-10">
                @Html.DropDownListFor(m => m.IdMarca, new SelectList((IEnumerable<OnlineShop.Common.ViewModels.MarcaViewModel>)ViewData["Marcas"], "Id", "Nombre"), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.IdMarca)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.IdCategoria, new { @class = "col-md-2 control-label" })
            <div class="col-md-8 col-xs-10">
                @Html.DropDownListFor(m => m.IdCategoria, new SelectList((IEnumerable<OnlineShop.Common.ViewModels.CategoriaViewModel>)ViewData["Categorias"], "Id", "Nombre"), new { @class = "form-control " })
                @Html.ValidationMessageFor(m => m.IdCategoria)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PrecioCosto, new { @class = "col-md-2 control-label" })
            <div class="col-md-8 col-xs-10">
                @Html.TextBoxFor(m => m.PrecioCosto, new { @class = "form-control " })
                @Html.ValidationMessageFor(m => m.PrecioCosto)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Descontinuado, new { @class = "col-md-2 control-label" })
            <div class="col-md-1">
                @Html.CheckBoxFor(m => m.Descontinuado, new { @class = "form-control " })
                @Html.ValidationMessageFor(m => m.Descontinuado)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Sku, new { @class = "col-md-2 control-label" })
            <div class="col-md-8 col-xs-10">
                @Html.TextBoxFor(m => m.Sku, new { @class = "form-control " })
                @Html.ValidationMessageFor(m => m.Sku)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Descripcion, new { @class = "col-md-2 control-label" })
            <div class="col-md-8 col-xs-10">
                @(Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control " }))
                @Html.ValidationMessageFor(m => m.Descripcion)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="grabarProducto" class="btn btn-default" value="Grabar" />
            </div>
        </div>
    }
</div>


<script>
    $(function () {
        $("#Descripcion").kendoEditor({
            encoded: false
        });
    });
</script>

