@model OnlineShop.Common.ViewModels.ImagenesPreviewViewModel

<div class="col-md-11">
    @Html.FileUploadBoostrap("imagenesUpload")
</div>




<script type="text/javascript">
    debugger;
    var imgArray = [];
    var jsonProp = {};
    jsonProp = @Html.Raw(Json.Encode(Model.ListaImagenes));
    @foreach (var x in Model.Ruta) {
        @:imgArray.push("@Html.Raw(x)");
        }
    $("#imagenesUpload").fileinput({
        uploadUrl: '@Url.Action("GrabarImagen", new { Id = @Model.IdProducto})',
        uploadAsync: true,
        minFileCount: 1,
        maxFileCount: 4,
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        enctype: 'multipart/form-data',
        allowedFileTypes: ['image'],
        overwriteInitial: false,
        initialPreview: imgArray,
        maxFileSize: 2000,
        initialPreviewConfig: jsonProp,
        msgSizeTooLarge: "Archivo {name} ({size} KB) excede el tamaño maximo de {maxSize} KB. Intentar de nuevo",
        msgFilesTooMany: "Numero de Archivos seleccionador para subir ({n}) excede el máximo permitido {m}",
        msgInvalidFileType: 'Tipo invalido para archivo "{name}". Solo estan permitidos archivos tipo {types}',
        msgInvalidFileExtension: 'Extensión invalida para archivo {name}. Solo "{extensions} estan permitidos".',
        dropZoneTitle: 'Soltar las imagenes aquí',
        browseLabel: 'Seleccionar',
        removeLabel: 'Borrar',
        uploadLabel: 'Subir'
    });
</script>

<style>
    .file-caption {
        height: 34px !important;
        padding-top: 7px !important;
    }
</style>
