@model  OnlineShop.Common.ViewModels.ProductoAdminViewModel
@{
    
}

<div class="row">
    <div class="col-md-12">
        <section id="searchform">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Busqueda de Productos</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.SeachCriteria, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.SeachCriteria, new { @class = "form-control" })
                    </div>
                </div>                                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Busqueda" class="btn btn-default" />
                        <input type="button" value="Crear" id="CrearProducto" class="btn btn-default" />
                    </div>
                </div>                
            }
        </section>
    </div>

    <div class="col-md-12">
        @Html.Partial("_ProductosPartialView", Model)
    </div>
</div>

<div id="editarProducto"></div>
<div id="crearProducto"></div>


<script>

    var UrlAction = {
        editProductoModal: '@Url.Action("editProductoModal")',
        editRegistroProducto: '@Url.Action("editRegistroProducto")',
        createProductoModal: '@Url.Action("createProductoModal")',
        createRegistroProducto: '@Url.Action("createRegistroProducto")'
    }

</script>


<script src="@Url.Content("~/ViewScripts/AdminProducto/Index.js")"></script>
