@model  OnlineShop.Common.ViewModels.ProductoAdminViewModel
@{
    
}

<div class="row">
    <div class="col-md-12">
        <section id="searchform">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3>Mantenimiento de Productos</h3>
                <hr />
                <div class="form-group">
                   
                </div>                                
                <div class="form-group">
                    <label class="control-label">
                        Creación de Productos
                    </label>
                    <div class="col-md-offset-2 col-md-10">                   
                        <input type="button" value="Crear" id="CrearProducto" class="btn btn-primary" />
                    </div>
                </div>                
            }
        </section>
    </div>

    <div class="col-md-12" id="ProductoGrid">
        @Html.Partial("_ProductosPartialView", Model)
    </div>
</div>

<div id="editarProducto"></div>
<div id="crearProducto"></div>
<div id="imagenProducto"></div>


<script>

    var UrlAction = {
        editProductoModal: '@Url.Action("editProductoModal")',
        editRegistroProducto: '@Url.Action("editRegistroProducto")',
        createProductoModal: '@Url.Action("createProductoModal")',
        createRegistroProducto: '@Url.Action("createRegistroProducto")',
        imagenProductoModal: '@Url.Action("imagenProductoModal")',
        GetProducts: '@Url.Action("_ProductosPartialView")'
    }

</script>


<script src="@Url.Content("~/ViewScripts/AdminProducto/Index.js")"></script>
