@model IEnumerable<OnlineShop.Common.ViewModels.ProductoIndexViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>
<br />
<br />
<div class="row">
    <div class="col-md-3">
        <span></span>
    </div>
    <div class="col-md-9">
        <div class="col-md-12">
            <a class="btn btn-warning" href="@Url.Action("Carrito")" role="button">VER CARRITO</a>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("ProductoDetalle", "Producto", new { id = @item.Id })">
                    <img class="img-responsive" src="@Url.Content(@item.Ruta)" alt="@item.Nombre" />
                </a>
                <div class="col-xs-12">
                    <a href="@Url.Action("ProductoDetalle", "Producto", new { id = @item.Id })">
                        <span class="text-justify">@item.Nombre</span>
                    </a>
                </div>
                <div class="col-xs-12 text-danger">
                    @string.Format("{0:C}", item.PrecioCosto)
                </div>
            </div>
        }
    </div>

</div>
